<div class="whole-view">
  <div class="shade-layer">
    <div class="center-align">
      <h1 class="title">Gallery Dump</h1>
      <h5 class="description">Upload your images and share them with your friends and family</h5>
      <%= link_to "Sign Up", new_user_path, class: "waves-effect waves-light btn" %>
    </div>
  </div>
</div>
