// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 95%;
}

.display-hide{
  display: none;
}

h1 {
  margin-bottom: 0px;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  height: 300px;
  margin: 10px;
  padding: 10px;
}

.image {
  height: 300px;
}

.full-width {
  width: 100%;
}

.info-form {
  border-style: solid;
  border-width: thin;
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.margin-10 {
  margin: 10px;
}

.card-panel {
  width: 300px;
  margin: auto;
}
